html {
    background-color:aliceblue;
}

body {
    width: 680px;
    height: fit-content;
    margin: 0 auto;
    background-color:white;
    position: relative;
    z-index: -100;
}

header {
    margin: 20px;
    padding: 20px;
    /* background-color:cadetblue; */
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:flex-start;
    z-index: -99;
    /* background-color:aquamarine; */
}

section {
    width: 35%;
    /* background-color:burlywood; */
}

footer {
    padding: 20px;
    margin: 30px;
    text-align: center;
    /* background-color:cornflowerblue; */
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

p {
    margin: 0;
    font-size: .8em;
}

.rect {
    width: 50%;
    position: absolute;
    z-index: -1;
}

.white-left {
    width: 30%;
    height: 15%;
    left: 45%;
    top: 90%;
    transform: rotate(15deg);
    background-color: white;
}

.white-right {
    width: 40%;
    height: 15%;
    position: absolute;
    left: 70%;
    top: 90%;
    transform: rotate(-15deg);
    z-index: -1;
    background-color: white;
}

.blue-top {
    height: 100%;
    left: 50%;
    background-color:rgb(136, 191, 255);
}